/*
    background image of guelph
    add some animation to the navbar selectors 
*/

html {
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-image: url("assets/placeholder.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

#main {
    background-color: #FFFFF8;
}

.section-header {
    padding: 5px;
    line-height: 0px;
    text-align: center;
    font-size: 30px;
}

hr {
    height: 2px;
    width: 50%;
    border-width: 0px;
}

:target {
    scroll-margin-top: 70px;
}



/* Navbar */
#navbar {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 234, 255);

    display: block;
    font-size: 20px;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid black;
}

#scroll-up {
    width: 70px;
    height: 70px;
    float: left;
}

#page-links {
    float: right;
    display: flex;
    gap: 30px;
    margin-right: 3rem;
}

#page-links a {
    padding: 22px 0px 10px;
}


/* Home */
#home {
    height: 100vh;
    text-align: center;
}

#home > h1 {
    margin-top: 25%;
}


/* About */
#about-container {
    margin: auto 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.about-child {
    max-width: 350px; 
    flex: 1;
    text-align: center;
    border: 7px solid black;
    border-radius: 25px;
    padding: 20px 5px;
}

.about-child p {
    padding: 20px;
}

.about-child:hover {
    box-shadow: 0px 0px 10px #000;
}

#about hr {
    background-color: aqua;
}


/* Projects */
#projects {
    background-color: orange;
}

#projects img {
    width: 300px;
    height: 300px;
}

#projects hr {
    background-color: #FFFFF8;
}

.project {
    margin: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project:hover {
    background-color: rgb(200, 145, 0);
}



/* Footer */
#footer {
    margin: auto;
    width: 190px;
    padding: 15px;
    line-height: 2px;
    text-align: center;
}

#footer img {
    width: 80px;
    height: 80px;
    padding: 5px;
}