/* add some animation to the navbar selectors */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=IBM+Plex+Mono&family=Kanit&family=Noto+Sans:wght@200&display=swap');

html {
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-image: url("assets/guelph_home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

#main {
    background-color: #FFFFF8;
}

.section-header {
    padding: 5px;
    line-height: 0px;
    text-align: center;
    font-size: 30px;
}

hr {
    height: 2px;
    width: 50%;
    border-width: 0px;
}

:target {
    scroll-margin-top: 70px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000
}


/* Navbar */
#navbar {
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, rgba(45, 166, 227, 1), rgba(150, 200, 235, 0.85), rgba(255, 255, 255, 0.7));

    display: block;
    font-size: 20px;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid #2DA6E3;
    font-family: 'Kanit', sans-serif;
}

#scroll-up {
    width: 70px;
    height: 70px;
    float: left;
}

#page-links {
    float: right;
    display: flex;
    gap: 30px;
    margin-right: 3rem;
}

#page-links a {
    padding: 22px 0px 10px;
    color: #2DA6E3;
    font-weight: 700;
}


/* Home */
#home {
    height: 80vh;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    line-height: 3px;
}

#home > h1 {
    margin-top: 25%;
    font-size: 58px;
    color: #2DA6E3;
}

#home > h2 {
    color: #FFFFF8;
}


/* About */
#about-container {
    margin: auto 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.about-child {
    max-width: 350px; 
    flex: 1;
    text-align: center;
    border: 7px solid black;
    border-radius: 25px;
    padding: 20px 5px;
}

.about-child p {
    padding: 20px;
}

.about-child:hover {
    box-shadow: 0px 0px 10px #000;
}

#about hr {
    background-color: #2DA6E3;
}

#about h2 {
    color: #2DA6E3;
}

#edu-image {
    width: 150px;
    height: 150px;
}


/* Projects */
#projects {
    padding-bottom: 30px;
}

#projects {
    background-color: #8AD0F2;
}

#projects h2 {
    color: #FFFFF8;
}

#projects img {
    width: 300px;
    height: 300px;
}

#projects hr {
    background-color: #FFFFF8;
}

.project {
    margin: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project:hover {
    background-color: #2DA6E3;
    color: #FFFFF8;
}

.proj-image {
    border-radius: 20px;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}



/* Footer */
#footer {
    margin: auto;
    width: 190px;
    padding: 15px;
    line-height: 2px;
    text-align: center;
}

#footer img {
    width: 80px;
    height: 80px;
    padding: 5px;
}