/*
    background image of guelph
    add some animation to the navbar selectors 
    fix scrolling with nav
*/

html {
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-image: url("assets/placeholder.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

#main {
    background-color: #FFFFF8;
}

.section-title {
    text-align: center;
}



/* Navbar */
#navbar {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 234, 255);

    display: block;
    font-size: 20px;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid black;
}



/* Home */
#home {
    height: 100vh;
    text-align: center;
}

#home > h1 {
    margin-top: 25%;
}


/* About */
#about-container {
    margin: auto 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.about-child {
    max-width: 350px; 
    flex: 1;
    text-align: center;
}


/* Projects */
#projects {
    background-color: orange;
}

#projects img {
    width: 300px;
    height: 300px;
}

.project {
    margin: auto;
    padding: 30px 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}



/* Footer */
#footer {
    margin: auto;
    width: 190px;
    padding: 15px;
    line-height: 2px;
    text-align: center;
}

#footer img {
    width: 80px;
    height: 80px;
    padding: 5px;
}